Repository wpiet/mynewt-nimble, changes with the labels that .github/labeler.yml gives for each.
All labels: Host, Controller

ci: Add PR labeler
  .github/labeler_config.yml
  .github/workflows/labeler.yml
Labels: none

ci: Update PR labeler
  .github/workflows/labeler.yml
Labels: none

ci: Test PR labeler
  nimble/controller/include/controller/ble_hw.h
  nimble/drivers/nrf51/include/ble/xcvr.h
Labels: Controller

ci: Test PR labeler
  nimble/host/include/host/ble_eddystone.h
Labels: Host

ci: Test PR labeler
  .github/workflows/labeler.yml
  nimble/host/include/host/ble_eddystone.h
Labels: Host

ci: Test PR labeler
  .github/workflows/labeler.yml
  nimble/host/include/host/ble_eddystone.h
Labels: Host

ci: Test PR labeler
  .github/workflows/labeler.yml
Labels: none

ci: Upgrade PR labeler
  .github/workflows/labeler.yml
Labels: none

ci: test PR labeler
  nimble/host/include/host/ble_eddystone.h
Labels: Host

ci: Upgrade PR labeler
  .github/workflows/labeler.yml
Labels: none

ci: Test PR labeler
  nimble/doc/transport.md
  nimble/host/include/host/ble_eddystone.h
Labels: Host

ci: Update `Check ports syscfg update` workflow
  .github/workflows/ports_syscfg_check.yml
Labels: none

test gha
  .github/workflows/ports_syscfg_check.yml
Labels: none

test gha
  porting/examples/linux_blemesh/include/syscfg/syscfg.h
Labels: none

CI code style check - test
  nimble/host/include/host/ble_hs.h
  nimble/host/include/host/ble_hs_id.h
Labels: Host

docs: Add workaround to fix .rst files for the PDF output
  docs/ble_hs/ble_hs.rst
  docs/ble_hs/index.rst
  docs/btshell/btshell_api.rst
  docs/btshell/index.rst
  docs/index.rst
  docs/intro.rst
  docs/mesh/index.rst
  docs/mesh/intro.rst
Labels: none

.github/labeler.yml:

# Add 'Host' label to any changes within 'nimble/host' folder or any subfolders
Host:
  - changed-files:
      - any-glob-to-any-file: nimble/host/**

# Add 'Controller' label to any changes within 'nimble/controller' folder or any subfolders
Controller:
  - changed-files:
      - any-glob-to-any-file: nimble/controller/**
